* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(bg3.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

form {
    margin-top: 30%;
    background: linear-gradient(#282629,#272727);
    box-shadow: rgba(0, 0, 0, 1.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 60px;
}

::selection {
    background-color: rgba(255, 255, 255, 0.438);
}


form input {
    font-size: 15px;
    padding: 5px;
    background-color: #182030;
    border-radius: 20rem;
    border: #474747 solid 1px;
    color: rgb(0, 0, 0);
    transition: 0.4s;
}

form input::placeholder{
    color: #282629;
}

form label {
    color: white;
}

#check {
    color: white;
    font-weight: 600;
}
::placeholder {
    text-align: center;

}

@media (max-width:900px){
    form {
        padding: 60px;
        margin-top: 50%;
        margin-left: -48px;
        font-size: 25px;
    }

    form input {
        font-size: 20px;
    }

    
}

@media (max-width:868px){
    form {
        padding: 50px;
        margin-top: 50%;
        margin-right: -59px;
        font-size: 20px;
    }

    form input {
        font-size: 20px;
    }
}

@media (max-width:868px){
    form {
        padding: 28px;
        margin-top: 60%;
        margin-left: -48px;
    }
}