@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cairo;

}

html {
    scroll-behavior: smooth;
}

.verified {
    transition: 0.3s;
    width: 40px;
    font-family: "Readex Pro", sans-serif;
    animation: verified infinite 3s ease-in-out;
}

.verified:hover {
    transform: scale(1.1);
}

@keyframes verified {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.my-container nav {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    font-size: 20px;
    border-bottom: solid 1px #2d2d2d;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.459);
}

nav .nav-item a {
    transition: 0.3s;
    background-color: rgb(51, 46, 46);
    margin-left: 10px;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

nav .nav-item a:hover {
    background-color: rgba(23, 95, 189, 0.452);
    color: white;
}


.navbar-brand {
    font-size: 25px;
    font-weight: 700;
    font-family: Cairo;
    width: 30px;
}


.nav-item a {
    font-weight: bold;
}

/* .title {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
}

.my-container nav {
    width: 100%;
    height: 80px;
    padding: 8px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;  
    background-color: #2d2d2d7a;
    border-bottom: solid 1px #2d2d2d;
    border-radius: 3px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
    transition: 0.2s;
}

.important {
    text-decoration: underline;
    background-color: #0783ca;
    padding: 5px 20px;
    transition: background .3s ease-in-out;
    position: relative;
    cursor: pointer;
    border-radius: 2.7px;
}

.my-container nav ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;
    top: 10px;
    margin-top: -0.2rem;
}

ul .nav-link{
    background-color: #1c5e85;
    padding: 5px 20px;
    transition: background .3s ease-in-out;
    position: relative;
    cursor: pointer;
    border-radius: 2.7px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar-brand span {
    font-size: 20px;
}

.navbar-brand > img {
    width: 37px;
    padding: 3px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    transition: .3s ease-out;
}

.navbar-brand > img:hover {
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #0783ca;
    padding: 5px 20px;
    transition: background .3s ease-in-out;
    position: relative;
    cursor: pointer;
    border-radius: 2.7px;
}

.important {
    color: #ffffff; 
}

.navbar ul li a.active {
    color: #ffffff; 
}

.burger-menu {
    font-size: 30px;
    display: none;
} */