@media screen and (max-width: 868px) {
    header nav ul li{
        display: none;
    }

    body{
        background-position: center;
        background-size: contain;
    }

    .card {
        font-size: 12px;
        width: 200px;
    }

    .my-container nav{
        position: none;
        margin-left: 70%;
    }
    

    section{
        padding: 10px 50px 100px;
    }

    #suggestion-form{
        width: 350px;
    }

    .burger-menu {
        display: block;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    body {
        font-size: 15px;
    }

    section{
        padding: 10px 50px 100px;
    }

}

    
@media screen and (max-width: 700px) {
    header ul li{
        display: none;
    }

    .my-container nav{
        position: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    html {
        font-size: 15px;
    }

    section img {
        width: 100px;
    }
    
}

@media screen and (max-width: 500px) {
    .burger-menu{
        margin-left: -200px;

    }

    .my-container nav{
        position: none;
    }

    .main h3 {
        margin-left: -20px;
    }
}

@media screen and (max-width: 780px) {

    .my-container nav{
        position: none;
    }

    body{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {

body{
    display: flex;
    justify-content: center;
}

    .main {
        font-size: 15px;
    }
}