@media screen and (max-width: 868px) {
    header nav ul li {
        display: none;
    }

    .card {
        font-size: 12px;
        width: 200px;
    }

    .my-container nav {
        position: none;
        margin-left: 70%;
    }


    section {
        padding: 10px 50px 100px;
    }

    #suggestion-form {
        width: 350px;
    }

    .burger-menu {
        display: block;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }

    .content .title {
        text-align: center;
    }

    body {
        font-size: 15px;
        margin-left: -20px
    }

    section {
        padding: 10px 50px 100px;
    }

    .main span {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
    }

    #contact {
        display: flex;
        justify-content: center;
    }


}


@media screen and (max-width: 700px) {
    header ul li {
        display: none;
    }

    .my-container nav {
        position: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    html {
        font-size: 15px;
    }

    section img {
        width: 100px;
    }

    .main span {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {
    .burger-menu {
        margin-left: -200px;

    }

    .my-container nav {
        position: none;
    }

    .main h3 {
        margin-left: -20px;
    }

    .main span {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 780px) {

    .my-container nav {
        position: none;
    }

    body {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {

    body {
        display: flex;
        justify-content: center;
    }

    .main {
        font-size: 15px;
    }
}